---
name: Test sbom-cve-check
on:
  - pull_request
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.11"
          - "3.14"
    steps:
      - uses: actions/checkout@v5
      - name: Checkout meta-sbom-diff-test for tests
        uses: actions/checkout@v5
        with:
          repository: bootlin/meta-sbom-diff-test
          path: meta-sbom-diff-test
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build package
        run: |
          python -m build
      - name: Install package
        run: |
          pip install -e .
      - name: Install test dependencies
        run: |
          pip install --group test
      - name: Run tests
        env:
          SBOM_DIFF_SBOM_DATA: ${{ github.workspace }}/meta-sbom-diff-test/sbom-data
        working-directory: tests
        run: |
          pytest -v

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install --group lint --group test
      - name: Run mypy
        run: |
          mypy src tests
      - uses: astral-sh/ruff-action@v3
